In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("MarketPricePrediction.csv")
data

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
0,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,January-2005
1,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,January-2006
2,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,January-2010
3,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,January-2011
4,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,January-2012
...,...,...,...,...,...,...,...,...,...,...
10222,YEOLA(MS),December,2011,131326,282,612,526,MS,YEOLA,December-2011
10223,YEOLA(MS),December,2012,207066,485,1327,1136,MS,YEOLA,December-2012
10224,YEOLA(MS),December,2013,215883,472,1427,1177,MS,YEOLA,December-2013
10225,YEOLA(MS),December,2014,201077,446,1654,1456,MS,YEOLA,December-2014
10226,YEOLA(MS),December,2015,223315,609,1446,1126,MS,YEOLA,December-2015

In [3]:
# Display basic information about the dataset
data_info = data.info()

# Display the first few rows of the dataset
data_head = data.head()

data_info, data_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10227 entries, 0 to 10226
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   market    10227 non-null  object
 1   month     10227 non-null  object
 2   year      10227 non-null  int64
 3   quantity  10227 non-null  int64
 4   priceMin  10227 non-null  int64
 5   priceMax  10227 non-null  int64
 6   priceMod  10227 non-null  int64
 7   state     10227 non-null  object
 8   city      10227 non-null  object
 9   date      10227 non-null  object
dtypes: int64(5), object(5)
memory usage: 799.1+ KB

(None,
        market    month  year  quantity  priceMin  priceMax  priceMod state  \
 0  ABOHAR(PB)  January  2005      2350       404       493       446    PB
 1  ABOHAR(PB)  January  2006       900       487       638       563    PB
 2  ABOHAR(PB)  January  2010       790      1283      1592      1460    PB
 3  ABOHAR(PB)  January  2011       245      3067      3750      3433    PB
 4  ABOHAR(PB)  January  2012      1035       523       686       605    PB

      city          date
 0  ABOHAR  January-2005
 1  ABOHAR  January-2006
 2  ABOHAR  January-2010
 3  ABOHAR  January-2011
 4  ABOHAR  January-2012  )

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [5]:
# Encode categorical variables
label_encoder = LabelEncoder()
data['market'] = label_encoder.fit_transform(data['market'])
data['month'] = label_encoder.fit_transform(data['month'])
data['state'] = label_encoder.fit_transform(data['state'])
data['city'] = label_encoder.fit_transform(data['city'])

In [6]:
# Select features and targets
X = data[['market', 'month', 'year', 'state', 'city']]
y = data[['quantity', 'priceMod']]

In [7]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
# Build and train the model
model = MultiOutputRegressor(RandomForestRegressor(n_estimators=100, random_state=42))
model.fit(X_train, y_train)

MultiOutputRegressor(estimator=RandomForestRegressor(random_state=42))

In [9]:
# Make predictions
y_pred = model.predict(X_test)

In [10]:
# Evaluate the model
mse_quantity = mean_squared_error(y_test['quantity'], y_pred[:, 0])
mse_priceMod = mean_squared_error(y_test['priceMod'], y_pred[:, 1])

In [12]:

mse_quantity, mse_priceMod, y_pred[:5]

(2545070649.5904336,
 73238.06064872922,
 array([[ 2022.89,   372.23],
        [22702.93,   944.85],
        [56266.52,   245.03],
        [50433.09,   249.8 ],
        [16945.15,   922.11]]))